<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
   <extension
         point="org.eclipse.rcptt.tesla.core.processor">
      <provider
            class="com.xored.q7.extensions.tesla.processor.ProceedDispatcher">
      </provider>
   </extension>

</plugin>
