<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.q7.launching.ext.q7runtime">
      <q7runtime
            kind="extra"
            path="platform:///plugin/com.xored.q7.extensions.updates/repository/"
            version="[3.5,4.5)">
      </q7runtime>
   </extension>

</plugin>
